<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.exitgames.demo.loadbalancing"
      android:versionCode="1"
      android:versionName="1.0.0.0">
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:icon="@drawable/icon" 
    	android:label="@string/app_name"
    	android:name=".ApplicationManager">
        <activity
            android:label="@string/app_name"
            android:name="de.exitgames.demo.loadbalancing.MainMenu" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="de.exitgames.demo.loadbalancing.LogMenu" />
        <activity
            android:label="@string/app_name"
            android:name="de.exitgames.demo.loadbalancing.TrafficStatsView" />
    </application>
</manifest>